/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : ene 18, 2018, 8:11:12 p.m.
    Author     : Javier
*/
#time {
     -fx-font-size: 40px;
   -fx-font-family: "Comic Sans MS", cursive, sans-serif;
   -fx-fill: #818181;
   -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);

}
